@{
    ViewData["Title"] = "Payment";
}
<div class="container mb-5 mt-5 pt-5 text-center">
    <h1 style="color:red"> Your Payment Has been Successfully Recorded</h1>
    <h1>Thanks For Choosing Us</h1>
</div>
