@model Online_MarketPlace_System.Models.Transaction


@{
    ViewData["Title"] = "Sales Report";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="Id" hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Seller Code</label>
                <input asp-for="Seller_Id" disabled class="form-control" />
                <span asp-validation-for="Seller_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Buyer Code</label>
                <input asp-for="User_Id" disabled class="form-control" />
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Product Code</label>
                <input asp-for="Product_Id" disabled class="form-control" />
                <span asp-validation-for="Product_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <input asp-for="Status" disabled class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>
<div>
    <a class="btn btn-primary mx-2" href="/User/Profile">Back</a>
</div>

