
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div class="form-group">
    <div>
        <a class="btn btn-primary mx-2" href="/Home/Index">Back to the Home Page</a>
    </div>
</div>


