
@{
    var products = (List<Product>)ViewData["products"];
}

<div class="Home">

    <div class="BackgroundImg">
        <div class="container">
            <div class="row">
                <div class="col-4 caption">
                    <h2>The Fashion is in your hands</h2>
                   @if (ViewBag.Reg_Id != 0)
                   {
                    <a class="btn mt-1" href="/User/Register">Register Now</a>
                   }
                </div>
            </div>

        </div>
    </div>
</div>


    <footer>
        <form class="container">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Subscribe to get the latest updates">
                    <button type="button" class="btn btn-info subscribe">Subscribe</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <img class="col-3" src="~/css/logo-coca-cola.png" alt="cocacola">
                <img class="col-3" src="~/css/logo-oppo.png" alt="oppo">
                <img class="col-3" src="~/css/logo-philips.png" alt="philips">
                <img class="col-3" src="~/css/logo-paypal.png" alt="paypal">
            </div>
        </form>
    </footer>