/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
  position: relative;
  min-height: 100%;
}
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body 
{
    font-family: 'Poppins', sans-serif;
}
.BackgroundImg{
    background-image: url(back.jpg);
    background-size:100% 100%;
    height:100vh;
  
}
.navbar
{
    display:flex !important;
    align-items:center !important;
    background-color:red;
}
nav
{
    text-align:right;
    flex:1;
}
ul
{
   list-style-type: none;
}
a 
{
    color: black;
    margin-right: 20px;
    text-decoration: none !important;
}
h2
{
    margin-top:50%;
    font-size:50px;
}
.btn
{
    background:red;
    color:white;
    transition:color 0.5s !important;
}
.HomeProducts
{
    margin:70px 0;
    flex-wrap:wrap;
}
.card
{
    margin:0 0.5rem 0 0;
    transition:transform 0.5s;
}
h3
{
    margin-top:5rem;
}
.productsTitle
{
    position:relative;
    line-height:60px;
}
.productsTitle::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
i
{
    color:#ff523b;
}
.card:hover
{
    transform:translateY(-5px)
}
.LatestProducts
{
    margin-bottom:5rem;
}
footer img
{
    width:100%;
}
footer
{
    height:auto;
    background-color:black;
    overflow:hidden;
}
form
{
    margin-top:2rem;
}
.subscribe
{
    margin-top:1rem;
}
.subscribe:hover
{
    color:black;
    background-color:red;
}
.togger
{
    margin-left:20px;
}


@media screen and (max-width: 980px) {
    .BackgroundImg {
        height:400px;
    }
    h2
    {
        font-size:30px;
    }
}
@media screen and (max-width: 400px) {
    .BackgroundImg {
        height: 300px;
    }

    h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 300px) {
    .BackgroundImg {
        height: 200px;
    }

    h2 {
        font-size: 25px;
    }
}


